*{
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}



.left,.right{
    display: flex;
    gap: 5px;
}
.first-header{
    height: 50px;
    /* background-color: black; */
    padding-top: 29px;
    margin-top: 20px;
    display: flex;
    gap: 3px;
    justify-content: space-between;
}
.left a,.right a{
    text-decoration: none;
    color: rgb(132, 132, 132);
    font-size: 11px;
    /* margin-left: 3px; */
    margin-top: 30px;
}
.right a:hover{
    color: black;
}
.left a:hover{
    color: black;
}
.first-header{
    padding-top: 2px;
}
.first-header i{
    margin-left: 20px;
    font-size: 12px;
    border: 1px solid red;
    background-color: red;
    padding: 6px;
    border-radius: 100%;
    color: white;
}
.first-header i:hover{
    background-color: rgb(57, 57, 57);
    border: 1px solid rgb(57, 57, 57);
    transition: .4s;
}
/* #second-head{
    background-color: white;
    height: 80px;
    /* position: sticky;
    top: 0; */
    /* background-color: red; */
/* } */
/* .logo{
    width: 45%;
    
}
.nav-links a{
    text-decoration: none;
    color: rgb(119, 119, 119);
    margin-right: 40px;
    font-weight: 600;
    padding-bottom: 10px;
}
.nav-links a:hover{
    color: red;
    border-bottom: 1px solid red;
}
.our-brand{
    color: red;
    border-bottom: 1px solid red; 
}
.nav-links{
    padding-top: 46px;

} */ 
.klyn-logo{
    width: 20%;
}
.navigation-bar li{
    width: 150px;
    font-weight: 600;
    color: rgb(107, 107, 107) !important;
    cursor: pointer;
}
.muhurath{
    color: red !important;
    border-bottom: 2px solid red;
}
.nav-item span{
    color: rgb(99, 99, 99);
    padding-bottom: 10px;
}
.navigation-bar span:hover{
    color: red;
    border-bottom: 2px solid red;
}
.banner{
    width: 100%;
}
#muhurath-phone{
    display: none;
}
.sec-nav{
    background-color: rgb(231, 200, 142);
    position: sticky;
    top: 0;
}
#sec-nav-data{
    color: rgb(109, 61, 6);
    font-weight: 600;
}
#sec-nav-full{
    margin-left: 9%;
}
#sec-nav-full li{
    margin-right: 13px;
}
.single-line{
    margin-top: 70px;
    height: 80px;
    border-left: 1px solid black;
    margin-left: 50%;
}
#muhurath-heading{
    font-family: 'Bodoni Moda', serif !important;
    font-weight: 700;
}
.main-para{
   padding-top: 17px;
   width: 70%;
   margin: auto;
   text-align: center;
}
.main-para p{
    font-weight: 600;
    color: rgb(121, 121, 121);
}
.main-para a{
    text-decoration: none;
    color: black;
    margin-top: 30px;
    border: 1px solid black;
    padding: 10px 20px;
}
.shp-btn{
    padding-top: 30px;
}
.state-images{
    text-align: center;
    margin-top: 80px;
}
.state-images img{
    margin-right: 5px;
    margin-bottom: 10px;
}
.vedio{
    text-align: center;
    margin-top: 60px;
}
.subscribe-div{
    background-color: #d2d2d2;
    height: 100px;
    width: 100%;
    margin-top: 70px;
    border-top: 3px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.subscrb-text{
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 1px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 12px;
    margin-right: 3px;
}
.subscribe-div input{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    margin-right: 3px;
    padding-right: 90px;
    border: 1px solid white;
}
.subscribe-div input::placeholder{
    font-size: 12px;
    letter-spacing: 1px;
}
.subscribe-div i{
    background-color: red;
    color: white;
    padding-top: 3.5px;
    padding-bottom: 4px;
    padding-left: 17px;
    padding-right: 17px;
    transition: .3s;
    font-size: 25px;
}
.subscribe-div i:hover{
    color: black;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-left{
    /* background-color: rgb(120, 255, 2); */
    /* width: 65%; */
    height: auto;
    padding-bottom: 30px;
}
.footer-right{
    /* width: 35%; */
    /* background-color: red; */
    height: auto;
    padding-bottom: 30px;
}
.left-first-row{
    display: flex;
    gap: 80px;
    margin-top: 6%;
    justify-content: center
}
.left-first-row select{
    font-size: 10px;
    letter-spacing: 1px;
    padding: 6px;
    color: red;
    border: 1px solid red;
}
#phone{
    border: 1px solid red;
    padding: 6px;
    padding-left: 7px;
    padding-right: 7px;
    color: red;
    border-radius: 100%;
    margin-right: 10px;
}
.left-first-row span{
    color: red;
    font-size: 13px;
}
.email-address{
    font-size: 13px;
    margin-top: 8px;
    color: red;
}
.footer-social-links i{
    padding: 6px;
    border: 1px solid red;
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 100%;
    transition: .5s;
}
.footer-social-links i:hover{
    background-color: black;
    border: 1px solid black;
}
#wtsp{
    background-color: rgb(10, 210, 10);
    border: 1px solid rgb(10, 210, 10);
}
.footer-list{
    display: flex;
    justify-content: center;
}
.divaider{
    border-left: 1px solid black;
    height: 170px;
    margin-top: 50px;
}
.footer-list ul{
    list-style: none;
    margin-right: 110px;
    margin-top: 50px;
}
.footer-list a{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    text-decoration: none;
    letter-spacing: 1px;
    color: black;
    font-size: 10px;
    transition: .3s;
}
.footer-list a:hover{
    color: rgb(116, 116, 116);
}
.footer-right h6{
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-right input{
    border: none;
    border-bottom: 1px solid rgb(114, 112, 112);
    padding-left: 10px;
    padding-bottom: 3px;
    padding-right: 160px;
    margin-bottom: 30px;
}
.footer-right input::placeholder{
    font-size: 13px;
}
.footer-right select{
    border: none;
    border-bottom: 1px solid rgb(114, 112, 112);
    padding-left: 10px;
    padding-bottom: 3px;
    padding-right: 179px;
    font-size: 13px;
    color: rgb(114, 112, 112);
}
.last-form{
    /* background-color: red; */
    width: 67%;
}
.last-form button{
    float: right;
    margin-top: 30px;
    padding: 5px 12px;
    border: 1px solid red;
    color: red;
    background-color: transparent;
    font-size: 12px;
}
.cpy-rgt{
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 12px;
    color: rgb(161, 161, 161);
    margin-bottom: 7px;
    letter-spacing: 1px;
}
@media (min-width:300px) and (max-width:575.98px){
    .first-header{
        height: 20px;
        /* background-color: black; */
        padding-top: 0px;
        margin-top: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .left a,.right a{
        text-decoration: none;
        color: rgb(132, 132, 132);
        font-size: 0px;
        margin-left: 3px;
        margin-top: 0px;
    }
    .klyn-logo{
        width: 0%;
        /* text-align: right; */
    }
    #muhurath-heading{
        font-size: 12px;
        padding-top: 4px;
    }
    .main-para p{
        font-size: 8px;
        margin-bottom: 0px;
    }
    .shp-btn{
        font-size: 10px;
        margin-top: 15px;
        padding: 3px 5px;

    }
    .state-images img{
        width: 47%;
    }
    iframe{
        height: 100px;
        margin-top: 0px;
    }
    .vedio{

        margin-top: 6px;
    }
    .subscribe-div{
        margin-top: 10px;
    }
    .subscribe-div input{
        padding-left: 4px;
        margin-right: 0px;
        padding-right: 40px;
    }
    .footer{
        flex-wrap: wrap;
    }
    .subscribe-div i{
        background-color: red;
        color: white;
        padding-top: 3.5px;
        padding-bottom: 4px;
        padding-left: 17px;
        padding-right: 17px;
        transition: .3s;
        font-size: 10px;
    }
    .divaider{
        height: 220px;
        margin-top: 50px;
        margin-right: 0px;
    }
    .footer-list{
        justify-content: center;
        /* align-items: center; */
        /* margin-left: 30%; */
    }
    .footer-list ul{
        list-style: none;
        margin-right: 10px;
        margin-top: 50px;
        margin-left: 0px;
    }
    .third-list{
        display: none;
    }
    #third-divaider{
        display: none;
    }
    .cpy-rgt{
        font-size: 10px;
    }
    .last-form{
        margin-top: 10%;
       margin-left: 15%;
       text-align: center;
       /* background-color: red; */
    }
    .last-form input{
        padding-right: 30px;
    }
    .last-form select{
        padding-right: 48px;
    }
    .subscribe-div i{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .last-form h6{
        margin-left: 0;
    }
    .footer-right{
        /* text-align: center; */
        justify-content: center;
    }
    .left-first-row{
        display: flex;
        flex-direction: column;
        gap: 0px;
        text-align: center;
    }
    .left-first-row select{
        margin-bottom: 10px;
    }
    .left-first-row i{
        margin-bottom: 2px;
    }
    .email-address{
        margin-bottom: 9px;
    }
    .footer-list ul{
        list-style: none;
        margin-right: 10px;
        margin-top: 50px;
    }

}
