*{
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}



.left,.right{
    display: flex;
}
.first-header{
    height: 50px;
    /* background-color: black; */
    padding-top: 29px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.left a,.right a{
    text-decoration: none;
    color: rgb(132, 132, 132);
    font-size: 11px;
    margin-left: 3px;
    margin-top: 30px;
}
.right a:hover{
    color: black;
}
.left a:hover{
    color: black;
}
.first-header{
    padding-top: 2px;
}
.first-header i{
    margin-left: 20px;
    font-size: 12px;
    border: 1px solid red;
    background-color: red;
    padding: 6px;
    border-radius: 100%;
    color: white;
}
.first-header i:hover{
    background-color: rgb(57, 57, 57);
    border: 1px solid rgb(57, 57, 57);
    transition: .4s;
}
/* #second-head{
    background-color: white;
    height: 80px;
    /* position: sticky;
    top: 0; */
    /* background-color: red; */
/* } */
/* .logo{
    width: 45%;
    
}
.nav-links a{
    text-decoration: none;
    color: rgb(119, 119, 119);
    margin-right: 40px;
    font-weight: 600;
    padding-bottom: 10px;
}
.nav-links a:hover{
    color: red;
    border-bottom: 1px solid red;
}
.our-brand{
    color: red;
    border-bottom: 1px solid red; 
}
.nav-links{
    padding-top: 46px;

} */ 
.klyn-logo{
    width: 20%;
}
.navigation-bar li{
    width: 150px;
    font-weight: 600;
    color: rgb(107, 107, 107) !important;
    cursor: pointer;
}
.our-brand{
    color: red !important;
    border-bottom: 2px solid red;
}
.nav-item span{
    color: rgb(99, 99, 99);
    padding-bottom: 10px;
}
.navigation-bar span:hover{
    color: red;
    border-bottom: 2px solid red;
}
.banner{
    /* background-image: url(../images/banner.webp); */
    background-size: 100%;
    background-repeat: no-repeat;
    height: 340px;
    margin-top: 20px;
    position: relative;
    text-align: center;
    /* background-color: red; */
}
.banner img{
    width: 100%;
}
.all{
    background-color: rgb(255, 231, 234);
    height: auto;
    width: 100%;
    padding-bottom: 40px;
    border-bottom: 4px solid red;
}
.phone-view{
    display: none;
}
.or-clction{
    /* background-color: red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.or-clction h1{
    letter-spacing: 12px;
    padding-bottom: 8px;
    font-size: 48px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.ul{
    border-bottom: 1px solid white;
    width: 60%;
    margin: auto;
    margin-bottom: 10px;
}
.or-clction h1,.or-clction p{
    color: white;
}
.most-loved{
    text-align: center;
    height: auto;
    padding-top: 40px;
    padding-bottom: 80px;
}
.most-loved h1{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 32px;
    color: #253953;
    letter-spacing: 5px;
}
.ul-most-loved{
    border-bottom: 1px solid #253953;
    width: 30%;
    margin: auto;
}
.images-collection{
    padding-top: 50px;
    padding-left: 8%;
    padding-right: 8%;
}
.images-collection img{
    width: 60%;
    transition: 0.5s;
}
.images-collection img:hover{
    /* -webkit-filter: brightness(.5); */
    filter: brightness(.3);
}
.hide-btn {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .colction-img:hover img{
    filter: brightness(0.2);
  }
  
  .colction-img:hover .hide-btn {
    opacity: 1;
  }
  .colction-img:hover .hide-btn a{
    /* opacity: 1; */
    color: white;
  }

  .hide-btn a{
    text-decoration: none;
    color: white;
  }
  .hide-btn {
    background-color: transparent;
    color: white;
    font-size: 16px;
    /* padding: 8% 10%; */
  }

.colction-img{
    position: relative;
}
.colction-img .hide-btn{
   color: white;
   text-decoration: none;
   border: 1px solid white;
   width: 270px;
   height: 60px;
   padding-top: 17px;
   opacity: 0;
   
}
/* .colction-img .hide-btn{
    opacity: 1 !important;
  
} */
/* .hide-btn a:hover{
   color: white;
} */
/* img:hover  .hide-btn{
    
    opacity: 1 !important;
    
} */
.ul-miracle{
    border-bottom: 2px solid black;
    width: 50%;
    margin: auto;
    margin-bottom: 7px;
}
.miracle-text{
    font-size: 19px;
    letter-spacing: 3px;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 600;
}
.text-under-miracle{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 600;
    letter-spacing: 1px;
}
.new-this-month{
    height: auto;
    text-align: center;
    padding-bottom: 50px;
}
.new-this-month h1{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 32px;
    color: #253953;
    letter-spacing: 5px;
}
.ul-new-month{
    border-bottom: 2px solid black;
    width: 15%;
    margin: auto;
    margin-bottom: 7px;
}
.new-this-month img{
    border: 10px solid white;
    margin-top: 40px;
}

.explore-all{
    height: auto;
    text-align: center;
    padding-bottom: 60px;
    
  
}
.ul-explore-all{
    width: 13%;
    border-bottom: 1px solid #253953;
    margin: auto;
    
}
.explore-all h1{
    color:  #253953;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 32px;
    letter-spacing: 5px;
}
.crsl-data{
    width: 70%;
    margin: auto;
    /* margin-bottom: 30px; */
    /* margin-top: 90px; */
    /* background-color: red; */

}
#nav-btn{
    border: 2px solid #253953;
    /* padding: 20px; */
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    font-size: 45px;
    color: #253953;
}
.crsl-full{
    margin-top: 90px;
    height: auto;
}
.item h4{
    border: 1px solid #253953;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 15px;
    margin-left: 0px;
    transition: 0.6s;
    margin-bottom: 16px;
    
}
.crsl-data a{
    text-decoration: none;
    color: #253953;
}
.crsl-data h4:hover{
    background-color: #253953;
    color: white;
}
.products{
    margin-top: 30px;
    padding-bottom: 90px;
}
.sec-row{
    padding-top: 90px;
}
.products img{
    width: 90%;
    transition: 0.5s;
}
.products img:hover{
    box-shadow: -1px 99px 79px -71px rgba(0,0,0,0.75);
    margin-top: -9px;
    transition: 0;
      
}
.subscribe-div{
    background-color: #d2d2d2;
    height: 100px;
    width: 100%;
    
}
.subscribe-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscrb-text{
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 1px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 12px;
    margin-right: 3px;
}
.subscribe-div input{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    margin-right: 3px;
    padding-right: 90px;
    border: 1px solid white;
}
.subscribe-div input::placeholder{
    font-size: 12px;
    letter-spacing: 1px;
}
.subscribe-div i{
    background-color: red;
    color: white;
    padding-top: 3.5px;
    padding-bottom: 4px;
    padding-left: 17px;
    padding-right: 17px;
    transition: .3s;
    font-size: 25px;
}
.subscribe-div i:hover{
    color: black;
}
.footer{
    display: flex;
    /* flex-wrap: wrap; */
}
.footer-left{
    /* background-color: rgb(120, 255, 2); */
    width: 65%;
    height: auto;
    padding-bottom: 30px;
}
.footer-right{
    width: 35%;
    /* background-color: red; */
    height: auto;
    padding-bottom: 30px;
}
.left-first-row{
    display: flex;
    gap: 80px;
    margin-top: 6%;
    justify-content: center
}
.left-first-row select{
    font-size: 10px;
    letter-spacing: 1px;
    padding: 6px;
    color: red;
    border: 1px solid red;
}
#phone{
    /* font-size: 12px; */
    border: 1px solid red;
    padding: 6px;
    padding-left: 7px;
    padding-right: 7px;
    color: red;
    border-radius: 100%;
    margin-right: 10px;
}
.left-first-row span{
    color: red;
    font-size: 13px;
}
.email-address{
    font-size: 13px;
    margin-top: 8px;
    color: red;
}
.footer-social-links i{
    padding: 6px;
    border: 1px solid red;
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 100%;
    transition: .5s;
}
.footer-social-links i:hover{
    background-color: black;
    border: 1px solid black;
}
#wtsp{
    background-color: rgb(10, 210, 10);
    border: 1px solid rgb(10, 210, 10);
}
.footer-list{
    display: flex;
    justify-content: center;
}
.divaider{
    border-left: 1px solid black;
    height: 170px;
    margin-top: 50px;
}
.footer-list ul{
    list-style: none;
    margin-right: 110px;
    margin-top: 50px;
}
.footer-list a{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    text-decoration: none;
    letter-spacing: 1px;
    color: black;
    font-size: 10px;
    transition: .3s;
}
.footer-list a:hover{
    color: rgb(116, 116, 116);
}
.footer-right h6{
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-right input{
    border: none;
    border-bottom: 1px solid rgb(114, 112, 112);
    padding-left: 10px;
    padding-bottom: 3px;
    padding-right: 160px;
    margin-bottom: 30px;
}
.footer-right input::placeholder{
    font-size: 13px;
}
.footer-right select{
    border: none;
    border-bottom: 1px solid rgb(114, 112, 112);
    padding-left: 10px;
    padding-bottom: 3px;
    padding-right: 179px;
    font-size: 13px;
    color: rgb(114, 112, 112);
}
.last-form{
    /* background-color: red; */
    width: 67%;
}
.last-form button{
    float: right;
    margin-top: 30px;
    padding: 5px 12px;
    border: 1px solid red;
    color: red;
    background-color: transparent;
    font-size: 12px;
}
.cpy-rgt{
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 12px;
    color: rgb(161, 161, 161);
    margin-bottom: 7px;
    letter-spacing: 1px;
}
@media(min-width:300px) and (max-width:575.98px){
    .first-header{
        height: 20px;
        /* background-color: black; */
        padding-top: 0px;
        margin-top: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .left a,.right a{
        text-decoration: none;
        color: rgb(132, 132, 132);
        font-size: 0px;
        margin-left: 3px;
        margin-top: 0px;
    }
    .klyn-logo{
        width: 0%;
        /* text-align: right; */
    }
    .or-clction h1{
        font-size: 15px;
        text-align: center;
    }
    .or-clction p{
        font-size: 10px;
    }
    .banner img{
        display: none;
        width: 20%;
    }
    .banner::before{
        content: url(../images/portrait-banner.png);
        max-width: 100%;
    }
    .big-view{
        display: none;
    }
    .phone-view{
        display: inline-block;
        letter-spacing: 2px;
    }
    .most-loved{
        padding-top: 100px;
    }
    .most-loved h1{
        font-size: 19px;
    }
    .images-collection{
        padding-top: 14px;
        padding-left: 2%;
        padding-right: 2%;
    }
    .miracle-text{
        font-size: 10px;
        padding-top: 12px;
        padding-bottom: 10px;
    }
    .text-under-miracle{
      font-size: 8px;
      padding-bottom: 10px;
    }
    .new-this-month{
        padding-top: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
    }
    .new-this-month h1{
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 13px;
        color: #253953;
        letter-spacing: 5px;
    }
}